.main {
    margin: 0;
    padding: 0;
}

.homepage_frame {
    margin: 0;
    padding: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}