.frame {


  width: 75vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  margin: 0 auto;
  }




.featured_frame {
margin: 30px auto;


/*
  background: #c2d0e5;
  */

display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: center;
padding-bottom: 50px;


}

.featured_frame a {
	text-decoration: none;
	color: black;
}
.hero_title_wrap {

display: flex;
flex-wrap: nowrap;
flex-direction: row;
justify-content: center;
align-items: center;
}
.hero_wrap {
  border-radius: 12px;
  width: 90%;
  margin: 0 auto;
  height: 120px;
margin-bottom: 50px;
  padding: 15px;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  /*
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.2);
  */
}

.hero_img_book {

  margin-right: 20px;
}
.hero_img {


border-radius: 12px;
margin: 0 auto;

}
.hero_top {

text-align: center;
}


.hero_top h2 {
  font-family: 'Roboto', sans-serif;

  font-size: 36px;

}
.hero_top h4 {
  font-family: 'Roboto', sans-serif;
  font-weight:lighter;
  font-size: 18px;

}

.featured_frame h2 {

width: 100%;
padding-left: 25px;
font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 24px;
margin-bottom: 20px;

}

.trophy {

color: white;
width: 3em;
height: 3em;

left: 5%;
top: 2.5%;

}


.book_img {
border-radius: 0;
object-fit: cover;
object-position: top;
margin: 0;
/*
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
*/
}




.grid_book_icon {

margin: 20px;

}
.grid_box {
/*
background-color: #4dabf5;
*/
font-family: 'Lato', sans-serif;
margin: 10px;

padding: 10px;
text-align: center;
align-items: center;
justify-content: center;
border-radius: 12px;
width: 295px;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
/*
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
*/
}
.grid_box_small:hover {
cursor: pointer;
 box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
background-color: rgba(255, 255, 255, 0.08);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.grid_box:hover {
cursor: pointer;


 box-shadow: 0 8px 19px rgba(0,0,0,0.15), 0 7.5px 6px rgba(0,0,0,0.11);
background-color: rgba(255, 255, 255, 0.08);
  transition: all 0.8s cubic-bezier(.25,.8,.25,1);

  
}

.grid_book_icon_wrap {
width: 100%;
height: 70%;
margin: 0 auto;
justify-content: center;
align-items: center;
display: flex;
}

.grid_book_icon {
	height: 3em;
color: #303030;
	width: 3em;
}

.underbox {
width: 80%;
/*
background-color: rgba(0, 0, 0, 0.5);
*/
height: 100%;
padding:5px;
margin: 0 auto;
justify-content: center;
align-items: center;
flex-direction: column;
/*
border-bottom-right-radius:  12px;
border-bottom-left-radius:  12px;
*/
}



.underbox h4, .underbox h5, .underbox_small h4, .underbox_small h5 {

	margin-block-start: .5em;
	margin-block-end: .5em;
}

.underbox h5, .underbox_small h5 {

font-size: 14px;
font-weight: normal;

}
.underbox h4, .underbox_small h4 {

font-size: 14px;


}
.grid_box img {



margin: 2.5% 0 5% 0;
}

.view_all_books {

  font-family: 'Roboto', sans-serif;
  font-weight:lighter;
  font-size: 14px;

display: flex;
justify-content: center;
align-items: center;
background: lightblue;
padding: 10px;
border-radius: 12px;
  
}
.view_all_books_icon {
  margin-left: 5px;
}
@media (max-width: 999px) {



}


@media (max-width: 1388px) {


.frame { width: 68vw;}
  

  }


  @media (max-width: 999px) {


.frame { width: 100vw;}
  
.featured_frame h2 {

  margin-bottom: 10px;
  font-size: 20px;
}

  }

  @media (max-width: 470px) {

    .featured_frame {
      width: 98%;
      margin-top: 120px;
    }
 
    .hero_top {

      margin-top: 5px;
    }
    .hero_top h2 {

    
      font-size: 26px;
    
    }
    .hero_top h4 {

      font-size: 14px;
    
    }
    
      }