
.mobile_search_frame {

position: absolute;
top: 65px;
right: 0;
height: 100%;
width: 100%;
display: flex;
justify-content: center;
align-items: flex-start;
}
.delete_annotation, .edit_annotation {
color: grey; 

/*
transition: all .2s ease-in-out;
*/
margin-right: 5px;

}
.sidebar_icons button, .sidebar_icons_fixed_col button {

    border: none;
}
.search_back_mobile {

position: absolute;
top: 20px;
right: 0;

    border-radius: 50%;
    background: #00b4c5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 20px;


}
.delete_annotation {

color: darkred !important;
border-radius: 50%;
background: salmon;

height: 1em;
width: 1em;
padding: .2em;
}
.edit_annotation {
background: #a6c2ff;
border-radius: 50%;
color: .2e70ff !important;
height: 1em;
width: 1em;
padding: .2em;

}

.hl {

color: red;

}
.selected_title {
font-weight: 600;
    padding: 5px 15px;
color: blue;

}
.not_selected_title{

font-weight: 600;
    padding: 5px 15px;

}
.edit_annotation:hover, .delete_annotation:hover {
/*
transform: scale(1.1);
opacity: .8;
*/
}

.annotation_bottom_bar {
background: darkgrey;

padding: 10px;
border-bottom-right-radius: .3em;
border-bottom-left-radius: .3em;
margin: 0;


}

.sidebar_frame {
    position: fixed;
    left: 4vw;
    top: 7.5vh;
    background-color: #fff;

    z-index: 999999999;

    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    clip-path: inset(0px -15px 0px 0px);

    display: flex;
    justify-content: center;
height: calc(92.5vh);

}




.active_icon {
    cursor: default !important;
    background: whitesmoke !important;
    color: black !important;

}


.annotations_icon_disabled {

    opacity: .5;
    margin: 30px auto;
    border-radius: 50%;
    background: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5em;
    height: 2.5em;
}

.active_icon:hover {
    cursor: default !important;
}

.no_annotations {
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
    margin: 0 auto;

    justify-content: center;
    display: flex;
    width: 100%;
    align-items: center;
    font-size: 20px;
    font-family: 'Lato', sans-serif;

}
.mobile_dots {
 box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
position: fixed;
top: 20px;
left: 15px;
height: 1.2em;
width: 1.2em;
color: grey;
z-index: 99999999999;
background: lightgrey;
padding: 5px;
border-radius: 50%;

}
.indicator_icon {
    cursor: default !important;

    color: black !important;

    background: whitesmoke !important;
}

.indicator_icon:hover {
    cursor: pointer !important;
    background: lightgrey !important;

}

.sidebar_icons_fixed_col_MOBILE {

    position: absolute;
    left: 0;
    top: 0;
    height: 92.5vh;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    clip-path: inset(0px -15px 0px 0px);
    background-color: #fff;
    z-index: 999999999;
    
    padding-top: 10px;
    border-right: .5px solid lightgrey;

}

.sidebar_icons_fixed_col {
    position: absolute;
    left: 0;
    top: 0;
    height: 92.5vh;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    clip-path: inset(0px -15px 0px 0px);
    background-color: #fff;
    z-index: 999999999;
    width: 4vw;
    padding-top: 10px;
    border-right: .5px solid lightgrey;
}

.annotations_list_wrap {

    left: 0;
    width: 100%;
    top: 80px;
 
display: flex;
flex-wrap: wrap;
flex-direction: row;

}

.result_li:hover {

/*
transform: scale(1.02);
*/

    cursor: pointer;
}

.annotation_info {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    flex-wrap: nowrap;
    flex-direction: row;
}

.annotation_dots {
    margin-right: 10px;
    width: 1.2em;
    height: 1.2em;


}

.preview {
    background: #ffffb3;
    padding: 15px;
}
.section {
 background-color: #EEEEEE;
    padding: 7.5px;
}
.search_li {
    margin: 10px;
    background-color: #EEEEEE;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: .5em;


}

.result_li {
    border: 2px solid grey;
    margin: 10px;
    background-color: #EEEEEE;
    list-style: none;
    font-family: 'Open Sans', sans-serif;

    width: calc(100% - 20px);
    flex-wrap: wrap;
    border-radius: .5em;


}


.search_li:hover {
cursor: pointer;

background: honeydew;

}
.search_li span {

margin: 5px;
}

.result_li span {

    width: 100%;
    display: flex;
    border-radius: .5em;
    margin: 5px;
}



.annotation_notes {

    overflow-wrap: break-word;
    background-color: #EEEEEE;
    padding: 7.5px;
}

.annotation_secton {
    width: 100%;


}

.annotation_time {
    width: 100%;
    display: flex;


}

.sidebar_header {
    padding-left: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    height: 40px;
    margin-top: 20px;
    align-items: center;
}

.sidebar_title {
    justify-content: flex-start;
    display: flex;
    width: 100%;
    align-items: center;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    margin-left: 10px;
}

.search_result_item{


border-radius: 4px;
margin: 5px 0;
padding: 0;

}

.search_result_item p {

background: white;
padding: 5px;
border-radius: 4px;
cursor: pointer;
}
.search_result_item p:hover {

    background: #8babf1;
}
.search_result_section_wrap {
border-radius: 4px;
padding: 7px ;
background: lightblue;
margin: 5px;
    font-family: 'Lato', sans-serif;
cursor: pointer;
}

.search_result_section_wrap h4 {
margin-block-start: 0;
margin-block-end: 0;

}
.search_results_wrap_sidebar_inner{

width: 100%;
margin: 65px auto;
    overflow-y: auto;
    height: calc(100% - 65px);


}
.search_results_wrap_sidebar {
    height: 100%;
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;

}

.selected {


    background-color: #d5e3e6 !important;
}



.settings_wrap {
position: absolute;
left: 0;
width: 100%;
top: 80px;
overflow-y:  auto;
height: 100%;
}

.enabled {
background-color: #ffffff;
border-radius: 8px;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
border: 1px solid lightgrey;
margin: 0 20px;
}

.double_wrap {
height:2em;
width: 2em;
display: flex;
justify-content: center;
padding: 5px;
align-items: center;
border-radius: 50%;

}
.single_wrap {
height:2em;
width: 2em;
display: flex;
justify-content: center;
padding: 5px;
align-items: center;
border-radius: 50%;
}

.disabled:hover {
background: #ffffff;
cursor: pointer;
opacity: 1;
}


.disabled {
    opacity: .7;
margin: 0 20px;
border: 1px solid lightgrey;
background: lightgrey;
}




.settings_layout {
    padding: 10px;
    width: calc(100% - 20px);
    display: flex;
    background-color: #64b5f6;
    
    flex-wrap: nowrap;
}


.single_page  {
color: 121212;
height: 1.5em;
width: 1.5em;

}

.double_page {
height: 1.5em;
width: 1.5em;
color: 121212;


}
.text_size {
height:2em;
width: 2em;
display: flex;
justify-content: center;
padding: 5px;
align-items: center;
border-radius: 50%;
}
.scroll_flow {
height:2em;
width: 2em;
display: flex;
justify-content: center;
padding: 5px;
align-items: center;
border-radius: 50%;
}
.arrow_flow {
height:2em;
width: 2em;
display: flex;
justify-content: center;
padding: 5px;
align-items: center;
border-radius: 50%;
}

.first {

    margin-top: 5px;
}


.arrow_flow_icon {
height: 1.5em;
width: 1.5em;
color: 121212;

}
.scroll_flow_icon {
height: 1.5em;
width: 1.5em;
color: 121212;
    
}

.options {
display: flex;
width: 60%;
flex-direction: row;
flex-wrap: nowrap;
justify-content: center;


}

.dropdown_wrap {

width: 50%;
color: black !important;

}



.settings_option {



    display: flex;
    background-color: #EEEEEE;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: 55px;
    align-items: center;
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    padding: 15px;
    margin: 2px auto;
    font-family: 'Open Sans', sans-serif;
    flex-direction: row;
 
}
.cancel_search_icon {



}
.cancel_search_icon_wrap {

z-index: 9999;
position: absolute;
top: 0;
right: 0;
    color: rgba(0, 0, 0, 0.84);
    height: 1.2em;
    width: 1.2em;
}

.toc,
.search,
.annotations,
.settings {
    color: rgba(0, 0, 0, 0.84);
    /*
    height: 1.2em;
    width: 1.2em;
    */
}

.toc:hover,
.search:hover,
.annotations:hover,
.settings:hover {
    color: whitesmoke;
      /*
    height: 1.2em;
    width: 1.2em;
      */
}

.toc_icon:hover,
.search_icon:hover,
.annotations_icon:hover,
.settings_icon:hover {
    background: lightgrey;
    cursor: pointer;
}

.new_annotation {
    color: rgba(0, 0, 0, 0.84);
    height: 1.2em;
    width: 1.2em;


}

.new_annotation_icon {
    margin: 10px auto;
    border-radius: 50%;
    background: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5em;
    height: 2.5em;


}


.toc_icon_back_mobile {

    border: none;
    border-radius: 50%;
    background: salmon;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    right: 20px;

}

.annotations_icon_mobile_disabled {
color: red;
    opacity: .5;
    margin: 15px;
    border-radius: 50%;
    background: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5em;
    height: 2.5em;
}

.toc_icon_mobile,
.settings_icon_mobile,
.annotations_icon_mobile {

    margin: 15px;
    border-radius: 50%;
    background: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5em;
    height: 2.5em;

}
.toc_icon {
    margin: 10px auto 30px auto;
    border-radius: 50%;
    background: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5em;
    height: 2.5em;
}


.toc_icon_active,
.search_icon,
.annotations_icon,
.settings_icon {

    margin: 30px auto;
    border-radius: 50%;
    background: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5em;
    height: 2.5em;
}


.active_icon {
    cursor: default !important;
    background: whitesmoke !important;
    color: black !important;
}


.active_icon:hover {
    cursor: default !important;
}







.close_sidebar:hover,
.trash:hover {
    color: whitesmoke;
    height: 1.2em;
    width: 1.2em;
}

.close_sidebar,
.trash {
    color: rgba(0, 0, 0, 0.84);
    height: 1.2em;
    width: 1.2em;
}

.close_sidebar_icon:hover,
.trash_icon:hover {
    background: lightgrey;
    cursor: pointer;
}

.close_sidebar_icon,
.trash_icon {

    margin: 10px auto;
    border-radius: 50%;
    background: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5em;
    height: 2.5em;

}


.sidebar_inner_frame {

    display: flex;
    
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    justify-content: center;


}

.toc_items {

    top: 7.5vh;
    left: 0;

    /*
    height: 82%;
    display: flex;
       width: 20vw;
    */
    height: calc(92.5% - 35px);
    user-select: none;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    list-style: none;

 width:100%;

    margin: 20px 0 0 0;

}

.toc_items p:hover {
    background-color: #dbd9d9;
    cursor: pointer;
}


.toc_items p {
    padding: 15px;

    background-color: #EEEEEE;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
   margin-block-start: 0;
   margin-block-end: 0;

}




.annotation_text_wrap {

    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    height: 85%;
}

.annotation_title_wrap {
    /*
margin: 20px auto 10px auto;
*/
    margin: 0 auto;
    width: 85%;

    height: 5%;

    display: flex;
    justify-content: center;
}

.annotation_title_wrap input {

    width: 100%;
    height: 20px;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.34);
    border-radius: .7rem;
    outline: 0;
    margin: 0 auto;
    background: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    z-index: 1;
}




.cancel {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightgrey;
    height: 100%;
    color: .fff;
    margin: 10px;
    border-radius: .7rem;
    color: rgba(0, 0, 0, 0.84);
}

.save {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    height: 100%;
    color: .fff;

    border-radius: .7rem;
    background: lightgrey;
    color: rgba(0, 0, 0, 0.84);
}

.save:hover,
.cancel:hover {
    background: #424242;
    cursor: pointer;
    color: .fff !important;
}

.new_annotation_title_icon {
    align-self: flex-start;
    margin: 10px;
    border-radius: 50%;
    background: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5em;
    width: 2.5em;
    padding: 10px;

}

.new_annotation_title {

    color: rgba(0, 0, 0, 0.84);
    height: 100%;
    width: 100%;

}

.button_wrap {
    display: flex;
    justify-content: space-between;
    width: 95%;
    height: 5%;

    font-family: 'Lato', sans-serif;
    display: flex;
    position: absolute;
    bottom: 50px;
    left: 2.5%;
    align-items: center;


}

.annotation_text_wrap_inner {
    padding: 0;
    display: flex;
    height: 86%;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 10px;
    margin: 0 auto;
    width: 85%;
}

.textarea_id {

    padding: 15px;

    width: 100%;
    height: 70%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.34);
    border-radius: .7rem;
    outline: 0;
    margin: 10px auto;
    background: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}



.settings_option_mobile {



    display: flex;
    background-color: #EEEEEE;
    width: 100%;
    justify-content: flex-start;
    flex-wrap: nowrap;
    height: 55px;
    align-items: center;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    padding: 15px;
    margin: 2px auto;
    font-family: 'Open Sans', sans-serif;

 
}
.settings_option_mobile button {

    border: none;
}

@media (max-width: 999px) {
.sidebar_frame {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
    height: 100vh;
    z-index: 999999999;

    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    clip-path: inset(0px -15px 0px 0px);

    display: flex;
    justify-content: center;


}
.search_results_wrap_sidebar_inner {

margin: 0 auto;

}
.search_results_wrap_sidebar {
    height: 100%;
    position: absolute;
    left: 0;
    width: 100%;
    top: 65px;


}

    }