.popup {

    visibility: hidden;
    /*
    position: absolute;
    top: 90px;
    left: 110px;
*/


border-radius: 12px;
/*
background: #b3c7f7;
*/
width: 220px;

border: 2px solid #8babf1;
box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-around;
user-select: none;
height: 30px;
font-size: 12px;
position: fixed;
    z-index: 99999;
    align-items: center;

}


.popup_annotation {
    width: 100%;
    display: flex;
    border-right: .5px solid #c0c4db !important;
    
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    font-family: 'Open Sans', sans-serif;
    user-select: none;

height: 100%;


}
.popup_highlight {
    width: 100%;
    height: 100%;
    display: flex;
    border-left: .5px solid #c0c4db !important;

    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    font-family: 'Open Sans', sans-serif;
    user-select: none;




}

.highlight_icon, .annotation_icon {

font-size: 19px;
margin-right: 10px;
}

.popup button {

    border: none;
}

.popup button:hover {

    background: #dbe4f4;

}

.sidebar_skeleton {
    z-index: 999999999999;
    position: fixed;
    left: 0vw;
    top: 7.5vh;
    background-color: whitesmoke;

width: 4vw;

 

    height: calc(92.5vh);

}

.no_results {
    position: absolute;
    z-index: 999999;
    top: 8.5vh;

    background: #fcdcdc;
    padding: 20px;
    width: 300px;
    left: 0;
    right: 0;
    margin: 0 auto;
    justify-content: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.2);
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    display: flex;
}

.book_box_frame {

    padding: 40px;
    width: calc(100vw - 80px);
    height: calc(92.5dvh - 80px);
    overflow: hidden;
    position: absolute;
    top: 7.5vh;
    right: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}





.book_tint {

    position: fixed;
    z-index: 999999999;
    right: 0;
    top: 7.5vh;
/*
    background: rgba(0, 0, 0, 0.5);
    */
    background: none;
    height: 100vh;
    width: 100vw;
}

.book_box_inner_wrap {
    border-radius: 10px;
    height: 92.5dvh;
    position: absolute;
    right: 0;
    top: 0px;
    width: 95%;
    -webkit-user-select: none;
    /* Chrome/Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+ */
    -o-user-select: none;
    user-select: none;

}

.arrow_right_arrow_wrap,
.arrow_left_arrow_wrap {
    background: none;
    outline: none;
    border: none;
    top: 50%;
    position: fixed;
    width: 2.5%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: .6;
    z-index: 999;
}

.arrow_left_arrow_wrap {
    left: 5.5%;
}

.arrow_right_arrow_wrap {
    right: 1%;
}

.right_arrow_icon,
.left_arrow_icon {

    color: #a9a9a9;
    width: 100%;
    height: 100%;

}







@media (max-width: 999px) {

    .book_box_frame {

        padding: 0;
        width: calc(100vw - 80px);
        height: -webkit-fill-available;
        overflow: hidden;
        position: absolute;
        top: 5px;
        right: 0;
        left: 0;


        align-items: center;
    }

    .book_box_inner_wrap {
        border-radius: 10px;
        height: calc(92.5vh - 80px);
        position: absolute;
        right: 0;
        top: 20px;
        width: 100%;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;

    }

    .bottom_bar_wrap {
        z-index: 999999999999999;
        position: fixed;
        bottom: 0;
        width: 100vw;
        height: 7.5vh;
        display: flex;
        background: whitesmoke;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    .left_arrow_icon,
    .home_mobile,
    .settings_mobile,
    .right_arrow_icon {
        width: 1.7em !important;
        height: 1.7em !important;
        margin: 10px !important;
        padding: 5px;


    }


}

@media (max-width: 800px) {

/*
    .popup {

        visibility: hidden;
        position: absolute;
        top: 15px;
        left: 5px;


    }
*/
}