.frame {


    width: calc(80vw + 24px);
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: scroll;
    top: 0;
    right: 0;

    position: absolute;

}

.grid_buttons_top_wrap {
position: absolute;
top: 10px;
right: 20px;
width: auto;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
align-items: center;
justify-content: flex-start;
    font-family: 'Roboto', sans-serif;
}

.user_tag_top {
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
    background-color: #121212;
    padding: 5px 7px;
    border-radius: 4px;
    text-decoration: none;
    outline: none;
    border: none;
    font-size: 14px;
}

.grid_buttons_top_wrap button {
font-size: 14px;
outline: none;
border: none;
background-color: #121212;
color: whitesmoke;
padding: 5px 7px;
border-radius: 4px;
font-family: 'Roboto', sans-serif;
}

.user_tag_top:hover, .grid_buttons_top_wrap button:hover {
cursor: pointer;
background-color: #303030;

}
.user_tag_top {

margin-right: 10px;

}
.github_icon {
margin-left: 20px;
font-size: 30px;
color: #121212;

}
.login_window {
position: absolute;
top: 100px;
z-index: 9999;
background-color: grey;
padding: 20px;
}
.featured_frame {
    margin: 30px auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;


}

.featured_frame a {
    text-decoration: none;
    color: black;
}

.hero_title_wrap {

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hero_wrap {
    border-radius: 12px;
    width: 90%;
    margin: 30px auto 50px auto;
    height: 120px;

    padding: 15px;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.hero_img_book {

    margin-right: 20px;
}

.hero_img {


    border-radius: 12px;
    margin: 0 auto;

}

.hero_top {

    text-align: center;
}


.hero_top h2 {
    font-family: 'Roboto', sans-serif;

    font-size: 36px;

}

.hero_top h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 18px;

}

.featured_frame h2 {

    width: 100%;
    padding-left: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 20px;

}



.book_img {
    border-radius: 0;
    object-fit: cover;
    object-position: top;
    margin: 0;

}




.grid_book_icon {

    margin: 20px;

}

.grid_box {

    font-family: 'Lato', sans-serif;
    margin: 10px;

    padding: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    width: 295px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}

.grid_box_small:hover {
    cursor: pointer;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    background-color: rgba(255, 255, 255, 0.08);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.grid_box:hover {
    cursor: pointer;


    box-shadow: 0 8px 19px rgba(0, 0, 0, 0.15), 0 7.5px 6px rgba(0, 0, 0, 0.11);
    background-color: rgba(255, 255, 255, 0.08);
    transition: all 0.8s cubic-bezier(.25, .8, .25, 1);


}

.grid_book_icon_wrap {
    width: 100%;
    height: 70%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: flex;
}

.grid_book_icon {
    height: 3em;
    color: #303030;
    width: 3em;
}

.underbox {


    height: 100%;
    padding: 5px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}



.underbox h4,
.underbox h5 {

    margin-block-start: .5em;
    margin-block-end: .5em;
}

.underbox h5 {

    font-size: 14px;
    font-weight: normal;

}

.underbox h4 {

    font-size: 14px;


}

.grid_box img {



    margin: 2.5% 0 5% 0;
}

.view_all_books {

    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 14px;

    display: flex;
    justify-content: center;
    align-items: center;
    background: lightblue;
    padding: 10px;
    border-radius: 12px;

}

.view_all_books_icon {
    margin-left: 5px;
}



@media (max-width: 999px) {


    .frame {
        width: 100vw;
    }

    .featured_frame h2 {

        margin-bottom: 10px;
        font-size: 20px;
    }





    .featured_frame {
        width: 98%;
        margin-top: 20px;
    }

    .hero_top {

        margin-top: 5px;
    }

    .hero_top h2 {


        font-size: 26px;

    }

    .hero_top h4 {

        font-size: 14px;

    }

}

@media (max-width: 375px) {
    .featured_frame {
        width: 98%;
        margin-top: 100px;
    }

}