.topbar_search_wrap_mobile {

    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 0;
    padding: 0;

    position: absolute;
    top: 60px;
    right: 0;

}

.title {
    font-family: 'Rubik', sans-serif !important;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.74);
}

.title_wrap {
    text-decoration: none;
    display: flex;
    align-items: center;
    width: auto;
    height: 75px;
    flex-direction: row;
    flex-wrap: nowrap;

}

.book_icon {
    width: 1.85em !important;
    height: 1.85em !important;
    margin: 5px 7px 5px 20px;
    color: rgba(0, 0, 0, 0.74);
}

.book_icon_wrap {
    height: 7.5vh;
    display: flex;
    align-items: center;
}

.top_bar_frame_book {

    width: 100%;
    right: 0;

    height: 7.5vh;
    position: absolute;
    /*
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      background-color: #fff;
      */
    z-index: 99999999999999999;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;


}


.hamburger_icon {
    width: 1.5em;
    height: 1.5em;
    margin-right: 20px;
}

.close_grid_sidebar_icon {
    width: 1.5em;
    height: 1.5em;
    margin-right: 20px;
    color: salmon;

}

.top_bar_frame_mobile {
    width: 100%;
    right: 0;
    position: absolute;
    height: 7.5vh;
    background: #ffffff;
    /*
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      background-color: #fff;
      */
    z-index: 99999999999999999;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}





.title_wrap_mobile {

    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
    height: 7.5vh;
    flex-direction: row;
    flex-wrap: nowrap;

}

.title_mobile {
    font-family: 'Rubik', sans-serif !important;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.74);
}


.title {
    font-family: 'Rubik', sans-serif !important;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.74);
}




.header_wrap {
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 7.5vh;

}



.book_icon_mobile {
    width: 1.45em !important;
    height: 1.45em !important;
    margin: 5px 5px 5px 10px;
    color: rgba(0, 0, 0, 0.74);
}

.book_icon_wrap_mobile {
    height: 7.5vh;
    display: flex;
    align-items: center;
}

.topbar_search_wrap_mobile form {
    width: 70%;
    margin-left: 5px;
    border: .5px solid rgba(0, 0, 0, 0.34);
    border-radius: 4px;


    display: flex;
    background: white;
    padding: 2.5px 5px;
    margin-right: 10px;
    margin-top: 3px;
}




.topbar_search_wrap_mobile input {
    outline: 0;
    border: 0;
    width: 100%;
    background: #fff;

    border-radius: .7rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    z-index: 1;
    font-size: 15px;


    font-family: 'Lato', sans-serif;
    position: relative;
}

.cancel_mobile_search_icon_top {
    height: 20px;
    width: 20px;
    color: white;
    border: 1px solid #de6868;
    border-radius: 100%;
    background: #a82525;
}

.cancel_search_topbar {

    display: flex;
    justify-content: center;
    align-items: center;

    background: whitesmoke;
    border: none;
    margin: auto 0;

}


.close_results {

    margin: 20px;
}




.sr_wrap {

    padding: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
    width: 200px;

}




.note_button {

    color: rgba(0, 0, 0, 0.54);
    position: absolute;
    right: 140px;


}






.notes {
    cursor: pointer;
    margin: 5px 20px;
    display: flex;
    align-self: flex-end !important;
    width: .85em !important;
    height: .85em !important;

}

.home {
    cursor: pointer;
    margin: 5px 20px;
    display: flex;
    align-self: flex-end !important;
    width: 1.8em !important;
    height: 1.8em !important;
}

.settings_button {

    color: rgba(0, 0, 0, 0.54);
    position: absolute;
    right: 75px;


}



.res_author {

    font-style: italic;
    color: darkblue;
}


.cancel_mobile_search {

    position: fixed;
    top: 90%;
    z-index: 9999999999;
    width: 100%;
    height: 10vh;
    background-color: #db8a90;

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
}

.search_results_homepage_mobile li p {
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 0;
    padding: 0;
}

.search_results_homepage li p {
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 0;
    padding: 0;
}

.search_results_homepage_mobile li {
    font-size: 15px;
    padding: 7px;

    margin: 4px 0;

    color: black;
    background: #b3c7f7;
}

.search_results_homepage li {
    font-size: 15px;
    padding: 7px;

    margin: 4px 0;

    color: black;
    background: #b3c7f7;
}

.search_results_text_inner {

    width: calc(100vw - 40px);
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 999999999 !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.search_results_text_inner li {
    font-size: 18px;
    display: flex;
    justify-content: flex-start;

    width: 300px;
    background-color: lightblue;
    padding: 10px;
    margin: 5px;
    border-radius: .7rem;
}




.hl {
    margin: 0;
    background-color: #FFFF00 !important;
}

.search_results_text {
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    height: 92.5vh;
    position: fixed;
    top: 7.5vh;
    right: 0;
    left: 0;
    margin: 0 auto;
    display: flex;
    align-items: center;

    flex-direction: column;
    flex-wrap: wrap;
    z-index: 999999999 !important;
    background-color: whitesmoke;
    color: navy;

    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.close_text_search_icon {
    position: absolute;
    right: 40px;
    top: 20px;
    width: 2em;
    z-index: 99999999988 !important;
    height: 2em;
    background-color: lightgrey;
    padding: 5px;
    border-radius: 50%;
    color: darkred;
}

.close_text_search_icon:hover {
    background-color: rgba(0, 0, 0, 0.34);
    cursor: pointer;
}



.topbar_search_wrap {

    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 50px;
}

.quit_search:hover {
    cursor: pointer;
    opacity: .7;
}

.quit_search {
    padding: 2.5px;
    width: 1em;
    height: 1em;
    background: salmon;
    color: darkred;
    border-radius: 50%;
margin-right: 10px;


}



.topbar_search_wrap form {
    width: 20vw;
    margin: 0 auto;
    border: .5px solid rgba(0, 0, 0, 0.34);
    border-radius: 4px;
    overflow: hidden;
}


/* clears the 'X' from Chrome */
.topbar_search_wrap input[type="search"]::-webkit-search-decoration,
.topbar_search_wrap input[type="search"]::-webkit-search-cancel-button,
.topbar_search_wrap input[type="search"]::-webkit-search-results-button,
.topbar_search_wrap input[type="search"]::-webkit-search-results-decoration {
  display: none;
}


.topbar_search_wrap input {
    outline: 0;
    border: 0;
    width: 100%;
    background: #fff;
    padding: 0 1rem;
    overflow: hidden;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    z-index: 1;
    font-size: 14px;
    height: 35px;
    font-family: 'Lato', sans-serif;
    position: relative;

}

.search_results_homepage_mobile {
    width: calc(100% - 20px);
    height: 80vh;
    overflow-y: auto;
    cursor: pointer;
    position: fixed;
    left: 0;
    top: calc(7.5vh);
    padding: 10px;
    margin: 0;
    z-index: 9999999;
    background-color: whitesmoke;
    color: navy;
    list-style: none;
    border-radius: 0;

}

.search_results_homepage {
    width: calc(20vw - 40px);
    max-height: 80vh;
    overflow-y: auto;

    cursor: pointer;


    position: absolute;
    right: 150px;
    top: calc(7.5vh);
    padding: 20px;
    margin: 0;
    z-index: 9999999;
    background-color: whitesmoke;
    color: navy;
    list-style: none;
    border-radius: .7rem;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.user_icon {


    width: 1.4em;
    height: 1.4em;
    margin-right: 20px;
}

.grid_buttons_top_wrap {

    top: 10px;
    right: 20px;
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
        font-family: 'Roboto', sans-serif;
    }
    
    .user_tag_top {
        font-family: 'Roboto', sans-serif;
        color: whitesmoke;
        background-color: #121212;
        padding: 5px 7px;
        border-radius: 4px;
        text-decoration: none;
        outline: none;
        border: none;
        font-size: 14px;
    }
    
    .login_button {
        font-family: 'Roboto', sans-serif;
        color: whitesmoke;
        background-color: #121212;
        padding: 5px 7px;
        border-radius: 4px;
        text-decoration: none;
        outline: none;
        border: none;
        font-size: 14px;


    }
    .home_button {
    font-size: 14px;
    outline: none;
    border: none;
   background: none;
   
    color: #121212;
  padding: 0;
    border-radius: 4px;
   margin-right: 20px;
  
    }
    
    .user_tag_top:hover {
    cursor: pointer;
    background-color: #303030;
    
    }
    .grid_buttons_top_wrap button:hover {

        cursor: pointer;
        color: #a0a0a0;

    }
    .user_tag_top {
    
    margin-right: 10px;
    
    }
    .mobile_right_icon_wrap {

        display: flex;
        align-items: center;
    }
    .mobile_right_icon_wrap button {


      
            font-size: 13px;
            outline: none;
            border: none;
            background-color: #121212;
            color: whitesmoke;
            padding: 5px 7px;
            border-radius: 4px;
            font-family: 'Roboto', sans-serif;
            margin-right: 15px;
            

    }