

.featured_header {

color: whitesmoke;

font-size: 26px;
position: absolute;
left: 5%;



}
.featured_frame span {

width: 100%;
margin-left: 2.5%;
font-family: 'Roboto', sans-serif;
font-weight: 900;
font-size: 28px;
margin-bottom: 20px;

}

#trophy {

color: white;
width: 3em;
height: 3em;

left: 5%;
top: 2.5%;

}
.featured_frame {
background-color: whitesmoke;

width: 100%;
font-family: 'Open Sans', sans-serif;
color: rgba(0, 0, 0, 0.74);

display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: center;
margin-bottom: 50px;
margin-top: 50px;
}


.frame {

top: 7.5vh;
width: 100%;
height: 100%;
padding-top: 50px;
background-color: whitesmoke;
position: absolute;
right: 0;
display: flex;
flex-wrap:wrap;
flex-direction: row;

}
.grid_inner_frame {

width: 100%;

background-color: #4791db;
margin-top: 50px;
padding-top: 20px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}
.grid_box_small {


margin: 20px;
height:150px;
padding: 20px 0;
text-align: center;
align-items: center;
justify-content: center;
border-radius: 12px;
width: 400px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#grid_book_icon {

margin: 20px;

}
.grid_box {

background-color: #4dabf5;
margin: 20px;
height:400px;
padding: 20px 0;
text-align: center;
align-items: center;
justify-content: center;
border-radius: 12px;
width: 400px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

}
.grid_box_small:hover {
cursor: pointer;
 box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
background-color: rgba(255, 255, 255, 0.08);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.grid_box:hover {
cursor: pointer;
 box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
background-color: rgba(255, 255, 255, 0.08);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.title {
	justify-content: center;
	display: flex;
	align-items: center;
	width: 100%;
	font-size: 18px;
	font-weight: bold;
	margin: 5px;

}
.author {
	justify-content: center;
	display: flex;
	align-items: center;
	width: 100%;
	margin-bottom: 10px;
	font-weight: 500 !important;
}
.grid_book_icon_wrap {
width: 100%;
height: 70%;
margin: 0 auto;
justify-content: center;
align-items: center;
display: flex;
}

#grid_book_icon {
	height: 3em;
color: #303030;
	width: 3em;
}

.underbox {
width: 100%;
background-color: #fff;
height: 15%;
padding: 10px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
border-bottom-right-radius:  12px;
border-bottom-left-radius:  12px;

}

.underbox_small {
width: 100%;

height: 15%;
padding: 10px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
border-bottom-right-radius:  12px;
border-bottom-left-radius:  12px;

}
.grid_box img {

height: 80%;

margin: 2.5% 0 5% 0;
}